.navbar{
    background: pink;
    height: 80px;
}

header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
}
.navbar-nav a:hover{
    color: red;
    
}

.navbar-brand{
    color: red;
    font-style: oblique;
    font-weight: bold;
    margin-left: 70px;
    font-weight: 900;
   
}

*{
    scroll-behavior: auto;
}

#Home{
    background-color: aqua;
    margin-top:100px;
}