@import 'path/to/font-file.css';

.selector {
    font-family: 'Croissant One', cursive;
    font-family: 'Black Ops One', cursive;
}

.navbar{
    background: rgb(25, 25, 25);
    height: 80px;
    
}

header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
}
.navbar-nav a:hover{
    color: red;
    font-family: Croissant One;
    
}

.navbar-brand{
    color:rgb(230, 17, 12);
    font-style: oblique;
    font-weight: bold;
    margin-left: 70px;
    font-weight: 900;
    font-family: Croissant One;
   
}

*{
    scroll-behavior: auto;
   
}

#Home{
    /* margin-top:75px; */
    padding-top: 80px;
    height: 743px; 
   
    
}

#Home h1{
    height: 100px;
    color: red;
    text-transform: uppercase;
    font-family: Black Ops One;
    font-size: 280px;
    margin-top: 110px;
      
}


#Home h2{
margin-top: 325px;
font-family:  Croissant One;
font-size: 20px;
color: white;
margin-left: 30px;
}

#Home button{
    margin-top: 535px;
    margin-left: 190px;
    
}

button {
  width: 140px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0px 15px;
  background-color: red;
  border-radius: 10px;
  border: none;
  color: white;
  position: relative;
  cursor: pointer;
  font-weight: 900;
  transition-duration: .2s;
  background: linear-gradient(0deg, #000, #272727);
}

button:before, button:after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  border-radius: 10px;
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
		#0000ff, #00ff00,#ffff00, #ff0000);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

button:after {
  filter: blur(50px);
}



#About{
    /* background-color: rgb(143, 87, 106); */
    margin-top: 120px;
    padding-top: 180px;
    height: 743px;
    border: 10px dotted white;
    color: aliceblue;
}

.pic1{
    background-image: url(w.png);
    background-size: cover;
    width: 650px;
  margin-left: -90px;
  height: 650px;
  margin-top: 10px;
 
}

@media (max-width: 900px ) {
  #Home h1 {
    font-size: 100px;
    margin-top: 40px;
    margin-left: -10px;
  }

  #Home h2 {
    font-size: 10px;
    margin-top: 350px;
  }

  #Home button {
    margin-top: 10px;
  }

  .pic1 {
    margin-top: -30px;
    
  }

}

#About .img2{
    background-image: url(k.png);
    background-repeat: no-repeat;
    height: 600px;
    margin-top: -40px;
    margin-left: 20px;
    
}

#About .text-center{
    /* background-color: #00ff00; */
    width: 600px;
   
}

#About h1{
    font-size: 90px;
    margin-top: 20px;
    color: red;
    text-transform: uppercase;
    font-family: Black Ops One;
}

#About h2{
    font-family:  Croissant One;
    font-size: 40px;
    color: white;
   
}

#About button{
    margin-top: 30px;
}